.playing-field {
    width: 70%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 33.333%;
    height: 33.333%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #000;

    cursor: pointer;
}

.cell:hover {
    background-color: aqua;
}